@font-face {
  font-family:'karbonSemibold';
  src: local('karbonSemibold'), url(./../fonts/karbon/karbonSemibold.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family:'karbonItalic';
  src: local('karbonItalic'), url(./../fonts/karbon/karbonItalic.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family:'karbonRegular';
  src: local('karbonRegular'), url(./../fonts/karbon/karbonRegular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family:'segoe-ui-regular';
  src: local('segoe-ui-regular'), url(./../fonts/segoe/segoe-ui-regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
html {
  text-align: center;
  font-size: 1px;
}


.App {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  font-family: karbonSemibold;
}
h1{
  font-family: karbonSemibold;
  font-size: 36rem;
  color: #003479;
}
h2 {
  font-family: karbonRegular;
  font-size: 20rem;
  color: #003479;}
h3{
  font-family: karbonSemibold;
  font-size: 20rem;
  color: #003479;
}
h6{
  font-family: karbonRegular;
  font-size: 20rem;
  color: '#white';
}
textarea {
  border: none;
  font-family: karbonRegular;
  font-size: 20rem;
}
.text-left{
  text-align: left;
  padding-left: 4vw;
}
.Rettangolo888{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 94px;
  background-color: #644C79;
}
.aalto_it{
  /* Layout Properties */
  position: relative;
  top: 18px;
  left: 353px;
  width: 140px;
  height: 57px;
  /* UI Properties */
  background: transparent url('../img/aalto_it.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.Rettangolo889{
  position: relative;
  top: 815px;
  left: 0px;
  width: 100%;
  height: 187px;
  background-color: #003479;
}
.segoe{
  /* Layout Properties */
  position: relative;
top: 77px;
left: 350px;
width: 1225px;
height: 69px;
/* UI Properties */
font-family: segoe-ui-regular;
font-size: 15rem;
opacity: 1;
}
.Rettangolo-edit {
  /* Layout Properties */
  padding: 2VW;
position: absolute;
top: 144px;
left: 350px;
width: 60vw;
min-height: 50vh;
justify-content: space-around;
align-items: stretch;
/* UI Properties */
background-color: #f4f4f4;
opacity: 1;
}

.Rettangolo1 {
  /* Layout Properties */
position: absolute;
top: 144px;
left: 350px;
width: 330px;
height: 523px;
justify-content: space-around;
align-items: stretch;
/* UI Properties */
background-color: #f4f4f4;
opacity: 1;
}
.Rettangolo3 {
  /* Layout Properties */
  position: absolute;
  top: 90px;
  left: 30px;
  width: 275px;
  height: 50px;
/* UI Properties 
background: transparent url('img/Rettangolo 1.png') 0% 0% no-repeat padding-box;*/
border: solid;
border-color: #644C79;
border-width: 2px;
opacity: 1;
background-color: #fff;
}
.Rettangolo5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: transparent url('../img/Rettangolo 5.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 10;
}
.loupe2{
  /* Layout Properties */
  position: absolute;
top: 13px;
left: 13px;
width: 25px;
height: 25px;
border:  none;

/* UI Properties */
background: transparent url('../img/loupe.png') 0% 0% no-repeat padding-box;
opacity: 1;
z-index: 20;
}
.loupe2:hover {
  opacity: 0.5;
}
.dropdown-container {
  visibility: visible;
  position: absolute;
  top: 363px;
  left: 30px;
  width: 275px;
  height: 50px;
  /*background: transparent url('img/Rettangolo 4.png') 0% 0% no-repeat padding-box;*/
  border: 1px solid #003479;
  opacity: 1;
  z-index: 10;
}
.select-user-down-true {
  display:block;
  background-color: #fff;
}
.select-user-down-false {
  display:none;
}
.down-false {/* Layout Properties */
  visibility: visible;
  position: absolute;
  border: none;
  top: 12.5px;
  left: 240px;
  width: 25px;
  height: 25px;
  /* UI Properties */
  background: transparent url('../img/down.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.down-true {/* Layout Properties */
  visibility: visible;
  position: absolute;
  border: none;
  top: 12.5px;
  left: 240px;
  width: 25px;
  height: 25px;
  /* UI Properties */
  background: transparent url('../img/down-up.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.down:hover {
  opacity:0.7;
}
.new-todo {
  /* Layout Properties */
position: absolute;
top: 694px;
left: 350px;
width: 330px;
height: 80px;
justify-content: space-around;
align-items: stretch;
vertical-align: middle;
/* UI Properties */
background-color: #f4f4f4;
opacity: 1;
}
#rettangolo_6 {
  /* Layout Properties */
  position: absolute;
top: 236px;
left: 69px;
width: 100px;
height: 40px;
/* UI Properties */
border-radius: 20px;
opacity: 1;
z-index: 20;
}
#rettangolo_6:hover {
  opacity: 0.8;
}
.completed-selector-false {   
  border: none; 
  background: transparent url('../img/Rettangolo 6 off.png') 0% 0% no-repeat padding-box;
}
.completed-selector-true {   
  border: none;     
  background: transparent url('../img/Rettangolo 6 on.png') 0% 0% no-repeat padding-box;
}
.Rettangolo2 {
  /* Layout Properties */
position: absolute;
top: 144px;
left: 740px;
width: 830px;
height: 630px;
/* UI Properties */
background-color: #f4f4f4;
opacity: 1;
}
.flex-container1 {
  position: relative;
  top: 14px;
  left: 46px;
  width: 760.5;
  display:flex;
  flex-direction: row;
}
.column1 {
  flex: 0 0 150px;
  padding-left:8px;
  text-align: left;
}
.column2 {
  flex: 0 0 470px;
  padding-left:5px;
  text-align: left;
}
.column3 {
  flex: 0 0 120px;
}
.Line1 {
  position: relative;
  top: 0px;
  left: 35.5px;
  width: 760.5px;
  height: 1px;
  background-color: rgb(202, 200, 200);
}
.pagination-box {
  position: absolute;
  top: 570px;
  left: 260px;  
  width: 300px;
  height: 25px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.completed1 {
  /* UI Properties */
  background: transparent url('../img/completed-button.png') 0% 0% no-repeat padding-box;
}
.completed0 {
  /* UI Properties */
  background: transparent url('../img/close-button.png') 0% 0% no-repeat padding-box;
}
.reset-filters {
  /* Layout Properties */
  position: absolute;
  top: 472px;
  left: 115px;
  width: 90px;
  height: 10px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  /* UI Properties 
  background: transparent url('img/Reset filters.png') 0% 0% no-repeat padding-box;*/
  opacity: 1;
  border: none;
  font-family:karbonRegular ;
  font-size: 20rem;
  color: #003479;
}
.p-box-color {  
  font-family:karbonRegular ;
  font-size: 16px;
  color: #003479;
}
.page-selected {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #003479;
  color:#fff;
  border-radius: 50%;
}
.p-box1-inactive {
  /* UI Properties */
  position: relative;
  top: -3px;
  width: 30px;
  height: 30px;
  transform: scale(0.5);
  background: transparent url('../img/pagination-left-arrow-NOT-active.png') 0% 0% no-repeat padding-box;
}
.p-box1-active {
  /* UI Properties */
  position: relative;
  top: -3px;
  width: 30px;
  height: 30px;
  transform: scale(0.5);
  background: transparent url('../img/pagination-left-arrow-active.png') 0% 0% no-repeat padding-box;
}
.p-box8-active {
  /* UI Properties */
  position: relative;
  top: -3px;
  width: 30px;
  height: 30px;
  transform: scale(0.5);
  background: transparent url('../img/pagination-right-arrow-active.png') 0% 0% no-repeat padding-box;
}
.p-box8-inactive {
  /* UI Properties */
  position: relative;
  top: -3px;
  width: 30px;
  height: 30px;
  transform: scale(0.5);
  background: transparent url('../img/pagination-right-arrow-NOT-active.png') 0% 0% no-repeat padding-box;
}
@media screen and (max-width: 1600px) {
  .aalto_it {
    left: 150px;
  }
  .Rettangolo1 {
    left: 150px;
  }
  .new-todo {
    left: 150px;
  }
  .Rettangolo2 {
    left: 540px;
  }
  .segoe {
    left: 150px;
  }
}
@media screen and (max-width: 1400px) {
  .aalto_it {
    left: 50px;
  }
  .Rettangolo1 {
    left: 0px;
  }
  .new-todo {
    left: 0px;
  }
  .Rettangolo2 {
    left: 340px;
  }
  .segoe {
    width: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .aalto_it {
    left: 50px;
  }
  .Rettangolo1 {
    left: 0px;
  }
  .new-todo {
    left: 0px;
  }
  .Rettangolo2 {
    left: 340px;
  }
  .segoe {
    width: 450px;
  }
}